In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid")

In [13]:
drugs_train = pd.read_csv('train.csv',index_col=1, parse_dates=True)

In [14]:
drugs_test = pd.read_csv('test.csv',index_col=1, parse_dates=True)

In [15]:
pa_columns = ['correct_diagnosis','tried_and_failed','contraindication','pa_approved','reject_code']
id_columns = ['dim_pa_id','dim_date_id','dim_claim_id','Unnamed: 0']
date_columns = ['calendar_year']
drugs_train = drugs_train.drop(columns=pa_columns+id_columns+date_columns)
drugs_train = drugs_train.dropna() # I think there are no missing or nan values
drugs_test = drugs_test.drop(columns=pa_columns+id_columns+date_columns)
drugs_test = drugs_test.dropna()

In [22]:
drugs_train=drugs_train.drop(columns=['calendar_month','calendar_day','day_of_week'])
drugs_test=drugs_test.drop(columns=['calendar_month','calendar_day','day_of_week'])

In [30]:
one_hot_encoded_traindata = pd.get_dummies(drugs_train, columns = ['bin', 'drug'])
one_hot_encoded_testdata = pd.get_dummies(drugs_test, columns = ['bin', 'drug'])

In [33]:
X = one_hot_encoded_traindata.loc[:, one_hot_encoded_traindata.columns != 'pharmacy_claim_approved']
y = one_hot_encoded_traindata.loc[:, one_hot_encoded_traindata.columns == 'pharmacy_claim_approved']
Xtest = one_hot_encoded_testdata.loc[:, one_hot_encoded_testdata.columns != 'pharmacy_claim_approved']
ytest = one_hot_encoded_testdata.loc[:, one_hot_encoded_testdata.columns == 'pharmacy_claim_approved']

In [36]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(2,n_jobs=-1)

In [ ]:
knn.fit(X,y)

In [ ]:
predictedvalues=knn.predict(Xtest)

In [ ]:
z = drugs_test.loc[:, drugs_test.columns == 'pharmacy_claim_approved']

In [ ]:
z

            pharmacy_claim_approved
date_val
2018-01-10                        1
2019-02-07                        1
2019-08-16                        0
2018-12-11                        1
2018-04-14                        1
...                             ...
2019-07-16                        1
2018-11-16                        1
2019-03-01                        1
2017-11-24                        1
2017-06-28                        1

[440741 rows x 1 columns]

In [ ]:
from sklearn.metrics import confusion_matrix, roc_auc_score, accuracy_score

In [ ]:
predictedvalues.shape

(440741,)

In [ ]:
z=z.values.reshape(-1,1)

In [ ]:
z.shape

(440741, 1)

In [ ]:
accuracy_score(z, predictedvalues)

0.9354859203023999

In [ ]:
roc_auc_score(z, predictedvalues)

0.9226353079459747